.wrapper_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.loader_wrapper {
    width: 100vw;
    height: 100vh;
}

.loader_item {
    position: absolute;
    right:40%;
}