.wrapper {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
}

.wrapper_items {
    flex:2 1 500px;
    margin:1rem auto;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header {
    text-transform: uppercase;
    height: 50px;
    background: #8aaae5;
    font-size: 30px;
    text-align: center;
    padding: 5px;

}

@media (max-width: 850px) { 
    .main {
        flex-direction: column;
    }
 }